.flex {
    display: flex;
    justify-content: flex-end;
}

.firstDataTextColor {
    margin-left: 25px;
    background-color: blue;
    color: red;
}

.secondDataTextColor {
    margin-right: 25px;
    background-color: yellow;
    color: purple;
}