
    <input type="text" placeholder="Search" [(ngModel)]="searchedName">
    <button (click)="searchByName()">Search</button>
    <div class="card" *ngFor="let user of peopleToShow">
        <div class="flexes" >
            <p>User ID: <a routerLink="/people-detail/{{user.id}}">{{ user.id }}</a></p>
            <p>User title:{{ user.title }}</p>
            <p>User Ms: {{ user.ms }}</p>
            <p>User FirstName: {{ user.firstName }}</p>
            <p>User LastName: {{ user.lastName }}</p>
            <p><img src="{{ user.picture }}"></p>
        </div>
    </div>

